In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pd.options.display.max_columns=None

In [3]:
unscaled_data = pd.read_csv(r'C:\Users\shota\OneDrive\ドキュメント\Data\Kaggle\kc_Tabular\train.csv')
unscaled_data

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,cat15,cat16,cat17,cat18,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,0,A,I,A,B,B,BI,A,S,Q,A,LO,A,A,A,A,B,D,D,B,0.629858,0.855349,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,1,A,I,A,A,E,BI,K,W,AD,F,HJ,A,B,A,B,D,B,D,B,0.370727,0.328929,0.386385,0.541366,0.388982,0.357778,0.600044,0.408701,0.399353,0.927406,0.493729,0
2,2,A,K,A,A,E,BI,A,E,BM,L,DJ,A,B,A,A,B,D,D,B,0.502272,0.322749,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
3,3,A,K,A,C,E,BI,A,Y,AD,F,KV,A,A,A,A,B,D,D,B,0.934242,0.707663,0.831147,0.807807,0.800032,0.619147,0.221789,0.897617,0.633669,0.760318,0.934242,0
4,4,A,I,G,B,E,BI,C,G,Q,A,DP,A,A,A,B,B,B,D,B,0.254427,0.274514,0.338818,0.277308,0.610578,0.128291,0.578764,0.279167,0.351103,0.357084,0.328960,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,499993,A,N,F,A,E,BU,A,AS,K,A,HG,A,A,A,B,D,B,D,B,0.681700,0.500730,0.662428,0.671927,0.390566,0.145840,0.262767,0.514248,0.519340,0.617436,0.688007,0
299996,499995,A,K,A,A,G,BI,A,K,AE,E,HK,A,B,A,B,B,D,D,B,0.489226,0.790664,0.821657,0.620356,0.384891,0.735879,0.547731,0.726653,0.470575,0.275743,0.638939,0
299997,499996,A,G,M,A,H,BI,C,L,F,A,HC,B,A,A,B,D,B,D,D,0.487882,0.522347,0.407037,0.232436,0.832482,0.810663,0.596939,0.308821,0.373997,0.518024,0.452144,1
299998,499997,B,H,A,D,B,BI,A,AA,AX,A,BF,A,A,A,A,B,A,D,A,0.331900,0.812891,0.808045,0.630708,0.346898,0.735147,0.563488,0.609836,0.680430,0.318453,0.335822,0
299999,499999,A,F,C,A,E,BI,C,AV,S,A,LM,A,A,A,A,B,D,D,B,0.822600,0.819735,0.775451,0.848696,0.819377,0.355467,0.218153,0.968856,0.823655,0.330515,0.972569,0

In [4]:
try_data = unscaled_data.copy()

In [5]:
try_data = try_data.drop(['id'], axis=1)
try_data.head()

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,cat15,cat16,cat17,cat18,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,A,I,A,B,B,BI,A,S,Q,A,LO,A,A,A,A,B,D,D,B,0.629858,0.855349,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,A,I,A,A,E,BI,K,W,AD,F,HJ,A,B,A,B,D,B,D,B,0.370727,0.328929,0.386385,0.541366,0.388982,0.357778,0.600044,0.408701,0.399353,0.927406,0.493729,0
2,A,K,A,A,E,BI,A,E,BM,L,DJ,A,B,A,A,B,D,D,B,0.502272,0.322749,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
3,A,K,A,C,E,BI,A,Y,AD,F,KV,A,A,A,A,B,D,D,B,0.934242,0.707663,0.831147,0.807807,0.800032,0.619147,0.221789,0.897617,0.633669,0.760318,0.934242,0
4,A,I,G,B,E,BI,C,G,Q,A,DP,A,A,A,B,B,B,D,B,0.254427,0.274514,0.338818,0.277308,0.610578,0.128291,0.578764,0.279167,0.351103,0.357084,0.328960,1

In [6]:
try_data['target'].sum()/try_data.shape[0]  # 結果よりバランシングを行う

0.26487

In [7]:
#バランシング(後半の0を消していく方法)
# do balancing
target_count = 0
index_for_balancing = []
for i in range(try_data['target'].shape[0]):
    if try_data['target'][i] == 0:    #0の時のみ反応
        target_count += 1
        if target_count > try_data['target'].sum():
            index_for_balancing.append(i)
            
try_data = try_data.drop(index=index_for_balancing, axis=0)
try_data = try_data.reset_index(drop=True)      # 後のバランシングをするために、インデックスを振りなおす
try_data

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,cat15,cat16,cat17,cat18,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,A,I,A,B,B,BI,A,S,Q,A,LO,A,A,A,A,B,D,D,B,0.629858,0.855349,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,A,I,A,A,E,BI,K,W,AD,F,HJ,A,B,A,B,D,B,D,B,0.370727,0.328929,0.386385,0.541366,0.388982,0.357778,0.600044,0.408701,0.399353,0.927406,0.493729,0
2,A,K,A,A,E,BI,A,E,BM,L,DJ,A,B,A,A,B,D,D,B,0.502272,0.322749,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
3,A,K,A,C,E,BI,A,Y,AD,F,KV,A,A,A,A,B,D,D,B,0.934242,0.707663,0.831147,0.807807,0.800032,0.619147,0.221789,0.897617,0.633669,0.760318,0.934242,0
4,A,I,G,B,E,BI,C,G,Q,A,DP,A,A,A,B,B,B,D,B,0.254427,0.274514,0.338818,0.277308,0.610578,0.128291,0.578764,0.279167,0.351103,0.357084,0.328960,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158917,A,K,A,A,E,BI,C,E,AE,C,DJ,A,A,A,A,B,D,D,B,0.529306,0.191811,0.312762,0.610683,0.780754,0.740786,0.545878,0.397520,0.293546,0.281999,0.398055,1
158918,A,I,Q,A,F,AB,C,AH,K,A,DC,A,A,A,B,D,B,B,B,0.642122,0.262951,0.461298,0.228659,0.266070,0.079081,0.210897,0.453764,0.416162,0.384102,0.337177,1
158919,A,G,A,B,F,BI,A,AN,BM,A,LO,A,A,B,B,D,B,C,B,0.350974,0.210515,0.238612,0.269438,0.592967,0.147710,0.721238,0.264155,0.683730,0.265648,0.409764,1
158920,A,H,A,D,H,BI,A,AF,BD,A,HC,A,A,A,B,D,D,B,B,0.502533,0.859802,0.937945,0.563218,0.668329,0.618228,0.619421,0.793599,0.685094,0.947535,0.493094,1
158921,A,G,M,A,H,BI,C,L,F,A,HC,B,A,A,B,D,B,D,D,0.487882,0.522347,0.407037,0.232436,0.832482,0.810663,0.596939,0.308821,0.373997,0.518024,0.452144,1

In [8]:
try_data['target'].sum()/try_data.shape[0]   #バランシングが成功していることが分かる

0.5

In [9]:
try_data.iloc[:,:19]

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,cat15,cat16,cat17,cat18
0,A,I,A,B,B,BI,A,S,Q,A,LO,A,A,A,A,B,D,D,B
1,A,I,A,A,E,BI,K,W,AD,F,HJ,A,B,A,B,D,B,D,B
2,A,K,A,A,E,BI,A,E,BM,L,DJ,A,B,A,A,B,D,D,B
3,A,K,A,C,E,BI,A,Y,AD,F,KV,A,A,A,A,B,D,D,B
4,A,I,G,B,E,BI,C,G,Q,A,DP,A,A,A,B,B,B,D,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158917,A,K,A,A,E,BI,C,E,AE,C,DJ,A,A,A,A,B,D,D,B
158918,A,I,Q,A,F,AB,C,AH,K,A,DC,A,A,A,B,D,B,B,B
158919,A,G,A,B,F,BI,A,AN,BM,A,LO,A,A,B,B,D,B,C,B
158920,A,H,A,D,H,BI,A,AF,BD,A,HC,A,A,A,B,D,D,B,B
158921,A,G,M,A,H,BI,C,L,F,A,HC,B,A,A,B,D,B,D,D

In [10]:
try_data.columns.values

array(['cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7',
       'cat8', 'cat9', 'cat10', 'cat11', 'cat12', 'cat13', 'cat14',
       'cat15', 'cat16', 'cat17', 'cat18', 'cont0', 'cont1', 'cont2',
       'cont3', 'cont4', 'cont5', 'cont6', 'cont7', 'cont8', 'cont9',
       'cont10', 'target'], dtype=object)

In [11]:
Columns=['cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7',
       'cat8', 'cat9', 'cat10', 'cat11', 'cat12', 'cat13', 'cat14',
       'cat15', 'cat16', 'cat17', 'cat18']

# カテゴリ変数をダミー変数に変換
# exchange Categorical variables to Dummy variable
for i in range(19):
    kindness = sorted(try_data['cat{}'.format(i)].unique())
    for m, n in zip(kindness, range(len(kindness))):
        try_data.replace({'cat{}'.format(i):{m:n}}, inplace=True)        #inplace=True で元のデータに反映
        print(m, n)
try_data

A 0
B 1
A 0
B 1
C 2
D 3
E 4
F 5
G 6
H 7
I 8
J 9
K 10
L 11
M 12
N 13
O 14
A 0
B 1
C 2
D 3
E 4
F 5
G 6
H 7
I 8
J 9
K 10
L 11
M 12
N 13
O 14
Q 15
R 16
S 17
U 18
A 0
B 1
C 2
D 3
E 4
F 5
G 6
H 7
I 8
J 9
K 10
L 11
N 12
A 0
B 1
C 2
D 3
E 4
F 5
G 6
H 7
I 8
J 9
K 10
L 11
M 12
N 13
O 14
P 15
Q 16
R 17
S 18
T 19
A 0
AA 1
AB 2
AE 3
AF 4
AG 5
AH 6
AI 7
AJ 8
AK 9
AL 10
AM 11
AN 12
AO 13
AP 14
AQ 15
AR 16
AS 17
AT 18
AU 19
AV 20
AW 21
AX 22
AY 23
B 24
BA 25
BB 26
BC 27
BD 28
BE 29
BF 30
BG 31
BH 32
BI 33
BJ 34
BK 35
BL 36
BM 37
BN 38
BO 39
BP 40
BQ 41
BR 42
BS 43
BT 44
BU 45
BV 46
BX 47
BY 48
C 49
CA 50
CB 51
CC 52
CD 53
CE 54
CF 55
CG 56
CH 57
CI 58
CJ 59
CK 60
CL 61
D 62
E 63
F 64
G 65
H 66
I 67
J 68
K 69
L 70
M 71
N 72
O 73
P 74
Q 75
R 76
S 77
T 78
U 79
V 80
X 81
Y 82
ZZ 83
A 0
B 1
C 2
D 3
E 4
F 5
G 6
I 7
K 8
M 9
O 10
Q 11
S 12
U 13
W 14
Y 15
A 0
AA 1
AB 2
AC 3
AD 4
AE 5
AF 6
AG 7
AH 8
AI 9
AJ 10
AK 11
AL 12
AM 13
AN 14
AO 15
AP 16
AQ 17
AR 18
AS 19
AT 20
AU 21
AV 22
AW 23
AX 24
AY 25
B 26
BA 27
C 28
D 29
E 30
F 31
G 32
H 33
I 34
J 35
K 36
L 37
M 38
N 39
O 40
P 41
Q 42
R 43
S 44
T 45
U 46
V 47
W 48
X 49
Y 50
A 0
AB 1
AC 2
AD 3
AE 4
AF 5
AG 6
AH 7
AI 8
AJ 9
AK 10
AL 11
AM 12
AN 13
AO 14
AP 15
AQ 16
AR 17
AS 18
AT 19
AU 20
AV 21
AW 22
AX 23
AY 24
B 25
BA 26
BB 27
BC 28
BD 29
BE 30
BF 31
BG 32
BH 33
BI 34
BJ 35
BK 36
BL 37
BM 38
BN 39
BO 40
C 41
E 42
F 43
G 44
H 45
I 46
J 47
K 48
L 49
M 50
N 51
O 52
P 53
Q 54
S 55
T 56
U 57
V 58
X 59
Y 60
A 0
B 1
C 2
D 3
E 4
F 5
G 6
I 7
J 8
L 9
N 10
O 11
Q 12
R 13
S 14
U 15
V 16
W 17
X 18
AA 0
AB 1
AC 2
AD 3
AE 4
AF 5
AG 6
AH 7
AK 8
AL 9
AM 10
AN 11
AP 12
AR 13
AS 14
AT 15
AU 16
AV 17
AY 18
BB 19
BC 20
BD 21
BF 22
BG 23
BI 24
BL 25
BM 26
BO 27
BP 28
BQ 29
BS 30
BT 31
BV 32
BX 33
BY 34
C 35
CB 36
CC 37
CD 38
CF 39
CG 40
CH 41
CI 42
CJ 43
CK 44
CL 45
CM 46
CN 47
CO 48
CP 49
CQ 50
CR 51
CS 52
CT 53
CU 54
CW 55
CY 56
D 57
DA 58
DC 59
DD 60
DE 61
DF 62
DH 63
DI 64
DJ 65
DK 66
DL 67
DM 68
DN 69
DO 70
DP 71
DQ 72
DR 73
DS 74
DT 75
DU 76
DV 77
DW 78
DX 79
DY 80
E 81
EA 82
EB 83
EC 84
ED 85
EE 86
EF 87
EG 88
EH 89
EI 90
EK 91
EL 92
EO 93
EP 94
EQ 95
ES 96
EU 97
EV 98
EW 99
EY 100
F 101
FA 102
FB 103
FC 104
FD 105
FE 106
FF 107
FG 108
FH 109
FI 110
FJ 111
FK 112
FL 113
FM 114
FN 115
FO 116
FP 117
FQ 118
FR 119
FS 120
FT 121
FV 122
FX 123
G 124
GA 125
GB 126
GC 127
GD 128
GE 129
GG 130
GI 131
GJ 132
GK 133
GL 134
GM 135
GN 136
GQ 137
GR 138
GS 139
GT 140
GU 141
GW 142
GX 143
GY 144
HA 145
HB 146
HC 147
HE 148
HF 149
HG 150
HH 151
HJ 152
HK 153
HL 154
HM 155
HN 156
HO 157
HP 158
HQ 159
HR 160
HU 161
HV 162
HW 163
HX 164
HY 165
I 166
IA 167
IB 168
IC 169
ID 170
IE 171
IF 172
IG 173
IH 174
IJ 175
IK 176
IM 177
IO 178
IP 179
IQ 180
IR 181
IT 182
IU 183
IV 184
IX 185
IY 186
J 187
JA 188
JB 189
JD 190
JG 191
JH 192
JI 193
JJ 194
JK 195
JL 196
JN 197
JO 198
JP 199
JR 200
JT 201
JV 202
JW 203
JX 204
JY 205
K 206
KA 207
KB 208
KC 209
KD 210
KF 211
KG 212
KH 213
KI 214
KJ 215
KK 216
KL 217
KN 218
KP 219
KQ 220
KR 221
KS 222
KT 223
KU 224
KV 225
KW 226
KX 227
L 228
LB 229
LC 230
LD 231
LE 232
LF 233
LG 234
LH 235
LI 236
LJ 237
LL 238
LM 239
LN 240
LO 241
LQ 242
LR 243
LT 244
LU 245
LV 246
LW 247
LX 248
LY 249
M 250
MA 251
MB 252
MC 253
MD 254
ME 255
MF 256
MG 257
MH 258
MI 259
MJ 260
MP 261
MQ 262
MR 263
MS 264
MT 265
MU 266
MV 267
MW 268
O 269
P 270
Q 271
R 272
S 273
T 274
V 275
W 276
X 277
Y 278
A 0
B 1
A 0
B 1
A 0
B 1
A 0
B 1
A 0
B 1
C 2
D 3
A 0
B 1
C 2
D 3
A 0
B 1
C 2
D 3
A 0
B 1
C 2
D 3

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,cat15,cat16,cat17,cat18,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,0,8,0,1,1,33,0,44,54,0,241,0,0,0,0,1,3,3,1,0.629858,0.855349,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,0,8,0,0,4,33,8,48,3,5,152,0,1,0,1,3,1,3,1,0.370727,0.328929,0.386385,0.541366,0.388982,0.357778,0.600044,0.408701,0.399353,0.927406,0.493729,0
2,0,10,0,0,4,33,0,30,38,9,65,0,1,0,0,1,3,3,1,0.502272,0.322749,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
3,0,10,0,2,4,33,0,50,3,5,225,0,0,0,0,1,3,3,1,0.934242,0.707663,0.831147,0.807807,0.800032,0.619147,0.221789,0.897617,0.633669,0.760318,0.934242,0
4,0,8,6,1,4,33,2,32,54,0,71,0,0,0,1,1,1,3,1,0.254427,0.274514,0.338818,0.277308,0.610578,0.128291,0.578764,0.279167,0.351103,0.357084,0.328960,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158917,0,10,0,0,4,33,2,30,4,2,65,0,0,0,0,1,3,3,1,0.529306,0.191811,0.312762,0.610683,0.780754,0.740786,0.545878,0.397520,0.293546,0.281999,0.398055,1
158918,0,8,15,0,5,2,2,8,48,0,59,0,0,0,1,3,1,1,1,0.642122,0.262951,0.461298,0.228659,0.266070,0.079081,0.210897,0.453764,0.416162,0.384102,0.337177,1
158919,0,6,0,1,5,33,0,14,38,0,241,0,0,1,1,3,1,2,1,0.350974,0.210515,0.238612,0.269438,0.592967,0.147710,0.721238,0.264155,0.683730,0.265648,0.409764,1
158920,0,7,0,3,7,33,0,6,29,0,147,0,0,0,1,3,3,1,1,0.502533,0.859802,0.937945,0.563218,0.668329,0.618228,0.619421,0.793599,0.685094,0.947535,0.493094,1
158921,0,6,12,0,7,33,2,37,43,0,147,1,0,0,1,3,1,3,3,0.487882,0.522347,0.407037,0.232436,0.832482,0.810663,0.596939,0.308821,0.373997,0.518024,0.452144,1

In [12]:
part1_data = try_data.copy()

In [13]:
part1_data.head()

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,cat15,cat16,cat17,cat18,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,0,8,0,1,1,33,0,44,54,0,241,0,0,0,0,1,3,3,1,0.629858,0.855349,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,0,8,0,0,4,33,8,48,3,5,152,0,1,0,1,3,1,3,1,0.370727,0.328929,0.386385,0.541366,0.388982,0.357778,0.600044,0.408701,0.399353,0.927406,0.493729,0
2,0,10,0,0,4,33,0,30,38,9,65,0,1,0,0,1,3,3,1,0.502272,0.322749,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
3,0,10,0,2,4,33,0,50,3,5,225,0,0,0,0,1,3,3,1,0.934242,0.707663,0.831147,0.807807,0.800032,0.619147,0.221789,0.897617,0.633669,0.760318,0.934242,0
4,0,8,6,1,4,33,2,32,54,0,71,0,0,0,1,1,1,3,1,0.254427,0.274514,0.338818,0.277308,0.610578,0.128291,0.578764,0.279167,0.351103,0.357084,0.328960,1

In [14]:
part1_data.describe()     #結果から、量的変数が標準化されていないことが分かるので、量的変数のみを標準化することを試みる。

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,cat15,cat16,cat17,cat18,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
count,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000,158922.000000
mean,0.192516,8.298851,3.280534,0.650885,4.963290,29.317646,1.450756,22.583959,33.266414,1.433238,133.808837,0.189357,0.126483,0.041089,0.545525,1.752054,2.137659,2.654044,1.338795,0.503126,0.512497,0.532650,0.457259,0.495563,0.530001,0.509245,0.497337,0.505497,0.475514,0.503080,0.500000
std,0.394277,3.087495,4.700195,1.290395,1.611556,12.705293,2.266251,13.806025,18.986739,2.691242,68.461494,0.391793,0.332394,0.198497,0.497925,1.016151,0.996547,0.682089,0.679692,0.200282,0.219260,0.221328,0.217740,0.227011,0.237766,0.216681,0.196658,0.190948,0.192696,0.195498,0.500002
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.048663,0.084480,0.102555,-0.045316,0.170508,-0.036379,0.008650,0.092014,0.024139,0.220335,0.097789,0.000000
25%,0.000000,7.000000,0.000000,0.000000,4.000000,33.000000,0.000000,8.000000,19.000000,0.000000,65.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,3.000000,1.000000,0.347885,0.323489,0.335088,0.283491,0.259840,0.354777,0.335975,0.355957,0.361643,0.314457,0.370679,0.000000
50%,0.000000,8.000000,0.000000,0.000000,5.000000,33.000000,0.000000,20.000000,38.000000,0.000000,147.000000,0.000000,0.000000,0.000000,1.000000,1.000000,3.000000,3.000000,1.000000,0.482482,0.481689,0.484350,0.348917,0.465629,0.556315,0.531046,0.430174,0.425229,0.436422,0.450567,0.500000
75%,0.000000,11.000000,6.000000,1.000000,6.000000,33.000000,2.000000,35.000000,48.000000,2.000000,171.000000,0.000000,0.000000,0.000000,1.000000,3.000000,3.000000,3.000000,1.000000,0.631911,0.706586,0.723683,0.634702,0.717260,0.736798,0.642245,0.624805,0.656548,0.591128,0.551254,1.000000
max,1.000000,14.000000,18.000000,12.000000,19.000000,83.000000,15.000000,50.000000,60.000000,18.000000,278.000000,1.000000,1.000000,1.000000,1.000000,3.000000,3.000000,3.000000,3.000000,1.004559,1.009958,1.016600,0.952187,0.856975,0.853008,0.966553,1.035818,1.055885,1.005086,1.008060,1.000000

In [15]:
part1_data[['cat0']].describe()

                cat0
count  158922.000000
mean        0.192516
std         0.394277
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [16]:
targets_data = part1_data[['target']]
unscaled_inputs = part1_data.drop(['target'], axis=1)

In [17]:
from sklearn import preprocessing

In [18]:
# 量的変数の標準化
# standardization of quantity variables
for i in range(11):
    unscaled_inputs['cont{}'.format(i)] = preprocessing.scale(unscaled_inputs['cont{}'.format(i)])
    
unscaled_inputs

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,cat15,cat16,cat17,cat18,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10
0,0,8,0,1,1,33,0,44,54,0,241,0,0,0,0,1,3,3,1,0.632770,1.563684,1.024679,1.553652,0.820906,0.385552,0.382770,1.497957,1.622205,2.540246,0.832930
1,0,8,0,0,4,33,8,48,3,5,152,0,1,0,1,3,1,3,1,-0.661066,-0.837216,-0.660855,0.386276,-0.469499,-0.724340,0.419041,-0.450711,-0.555883,2.345116,-0.047830
2,0,10,0,0,4,33,0,30,38,9,65,0,1,0,0,1,3,3,1,-0.004266,-0.865404,-0.855725,0.730658,1.313261,0.096212,-0.725177,-0.551731,-0.488060,-0.948745,0.237203
3,0,10,0,2,4,33,0,50,3,5,225,0,0,0,0,1,3,3,1,2.152553,0.890116,1.348673,1.609947,1.341214,0.374934,-1.326636,2.035422,0.671241,1.478007,2.205469
4,0,8,6,1,4,33,2,32,54,0,71,0,0,0,1,1,1,3,1,-1.241748,-1.085396,-0.875772,-0.826454,0.506651,-1.689526,0.320835,-1.109390,-0.808569,-0.614600,-0.890654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158917,0,10,0,0,4,33,2,30,4,2,65,0,0,0,0,1,3,3,1,0.130714,-1.462589,-0.993498,0.704627,1.256291,0.886527,0.169061,-0.507569,-1.109994,-1.004256,-0.537218
158918,0,8,15,0,5,2,2,8,48,0,59,0,0,0,1,3,1,1,1,0.694002,-1.138133,-0.322383,-1.049880,-1.010942,-1.896494,-1.376905,-0.221564,-0.467851,-0.474388,-0.848623
158919,0,6,0,1,5,33,0,14,38,0,241,0,0,1,1,3,1,2,1,-0.759692,-1.377283,-1.328522,-0.862596,0.429070,-1.607851,0.978363,-1.185726,0.933410,-1.089109,-0.477326
158920,0,7,0,3,7,33,0,6,29,0,147,0,0,0,1,3,3,1,1,-0.002963,1.583995,1.831205,0.486635,0.761047,0.371069,0.508469,1.506490,0.940552,2.449576,-0.051079
158921,0,6,12,0,7,33,2,37,43,0,147,1,0,0,1,3,1,3,3,-0.076112,0.044927,-0.567546,-1.032533,1.484159,1.180417,0.404712,-0.958602,-0.688672,0.220609,-0.260544

In [19]:
# 小数点2桁までを表示するよう設定
pd.set_option('display.float_format', lambda x: '%.2f' % x)
unscaled_inputs.describe()    #標準化が成功していることが分かる   # success of standardization

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,cat15,cat16,cat17,cat18,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10
count,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00,158922.00
mean,0.19,8.30,3.28,0.65,4.96,29.32,1.45,22.58,33.27,1.43,133.81,0.19,0.13,0.04,0.55,1.75,2.14,2.65,1.34,0.00,-0.00,-0.00,-0.00,-0.00,0.00,-0.00,-0.00,0.00,-0.00,-0.00
std,0.39,3.09,4.70,1.29,1.61,12.71,2.27,13.81,18.99,2.69,68.46,0.39,0.33,0.20,0.50,1.02,1.00,0.68,0.68,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-2.76,-1.95,-1.94,-2.31,-1.43,-2.38,-2.31,-2.06,-2.52,-1.32,-2.07
25%,0.00,7.00,0.00,0.00,4.00,33.00,0.00,8.00,19.00,0.00,65.00,0.00,0.00,0.00,0.00,1.00,1.00,3.00,1.00,-0.78,-0.86,-0.89,-0.80,-1.04,-0.74,-0.80,-0.72,-0.75,-0.84,-0.68
50%,0.00,8.00,0.00,0.00,5.00,33.00,0.00,20.00,38.00,0.00,147.00,0.00,0.00,0.00,1.00,1.00,3.00,3.00,1.00,-0.10,-0.14,-0.22,-0.50,-0.13,0.11,0.10,-0.34,-0.42,-0.20,-0.27
75%,0.00,11.00,6.00,1.00,6.00,33.00,2.00,35.00,48.00,2.00,171.00,0.00,0.00,0.00,1.00,3.00,3.00,3.00,1.00,0.64,0.89,0.86,0.81,0.98,0.87,0.61,0.65,0.79,0.60,0.25
max,1.00,14.00,18.00,12.00,19.00,83.00,15.00,50.00,60.00,18.00,278.00,1.00,1.00,1.00,1.00,3.00,3.00,3.00,3.00,2.50,2.27,2.19,2.27,1.59,1.36,2.11,2.74,2.88,2.75,2.58

In [20]:
scaled_inputs = unscaled_inputs.copy()

In [21]:
# データをシャッフル
# shuffle data
shuffled_indices = np.arange(scaled_inputs.shape[0])
np.random.shuffle(shuffled_indices)

shuffled_inputs = scaled_inputs.reindex(index=shuffled_indices)
shuffled_targets = targets_data.reindex(index=shuffled_indices)

#F値を相対的に評価して、不要なコラムを削除する
shuffled_inputs = shuffled_inputs.drop(['cat3','cat5','cat8','cat10','cont0','cont4','cont7','cont9','cont10'],axis=1)
shuffled_targets = shuffled_targets.drop(['cat3','cat5','cat8','cat10','cont0','cont4','cont7','cont9','cont10'],axis=1)

KeyError: "['cat3' 'cat5' 'cat8' 'cat10' 'cont0' 'cont4' 'cont7' 'cont9' 'cont10'] not found in axis"

In [22]:
# 欠損値がないことを確認(本当は初めにやらなければならない)
# make sure whether null exist or not
shuffled_inputs.isnull().any(axis=0)

cat0     False
cat1     False
cat2     False
cat4     False
cat6     False
cat7     False
cat9     False
cat11    False
cat12    False
cat13    False
cat14    False
cat15    False
cat16    False
cat17    False
cat18    False
cont1    False
cont2    False
cont3    False
cont5    False
cont6    False
cont8    False
dtype: bool

In [23]:
p_count = shuffled_inputs.shape[0]

train_p_count = int(0.8 * p_count)
validation_p_count = p_count - train_p_count

train_p_inputs = shuffled_inputs[:train_p_count]
train_p_targets = shuffled_targets[:train_p_count]

validation_p_inputs = shuffled_inputs[train_p_count:]
validation_p_targets = shuffled_targets[train_p_count:]

In [24]:
# それぞれのターゲットの要素の割合を再確認
train_p_targets.sum()/train_p_targets.shape[0], validation_p_targets.sum()/validation_p_targets.shape[0]

(target   0.50
 dtype: float64,
 target   0.50
 dtype: float64)

In [25]:
# テストデータの前処理
# preprocessing of test data
unscaled_test_data = pd.read_csv(r'C:\Users\shota\Onedrive\ドキュメント\Data\Kaggle\kc_Tabular\test.csv')
unscaled_test_data.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,cat15,cat16,cat17,cat18,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10
0,5,A,F,A,A,F,BI,A,AH,AX,A,LF,A,A,A,A,B,D,D,B,0.71,0.74,0.58,0.72,0.23,0.36,0.55,0.66,0.60,0.36,0.95
1,6,A,H,C,A,E,AB,I,F,N,A,MC,A,A,A,B,D,B,D,B,0.61,0.31,0.93,0.52,0.60,0.80,0.25,0.65,0.35,0.57,0.39
2,8,A,N,C,A,F,AB,A,AH,BC,A,FN,A,A,A,B,B,D,D,B,0.46,0.45,0.42,0.34,0.24,0.27,0.75,0.34,0.34,0.25,0.41
3,9,B,L,C,A,F,BI,A,E,AX,A,HK,A,A,A,A,B,D,B,B,0.34,0.67,0.60,0.56,0.81,0.74,0.54,0.38,0.48,0.35,0.33
4,11,A,F,A,B,F,BI,A,AH,I,A,HX,A,A,A,A,D,D,D,B,0.63,0.77,0.48,0.77,0.25,0.35,0.18,0.76,0.56,0.47,0.59

In [26]:
unscaled_test_data = unscaled_test_data.drop(['id'], axis=1)

In [27]:
for i in range(19):
    kindness2 = sorted(unscaled_test_data['cat{}'.format(i)].unique())
    for m2, n2 in zip(kindness2, range(len(kindness2))):
        unscaled_test_data.replace({'cat{}'.format(i):{m2:n2}}, inplace=True)

unscaled_test_data

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,cat15,cat16,cat17,cat18,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10
0,0,5,0,0,5,33,0,8,23,0,249,0,0,0,0,1,3,3,1,0.71,0.74,0.58,0.72,0.23,0.36,0.55,0.66,0.60,0.36,0.95
1,0,7,2,0,4,2,7,31,51,0,269,0,0,0,1,3,1,3,1,0.61,0.31,0.93,0.52,0.60,0.80,0.25,0.65,0.35,0.57,0.39
2,0,13,2,0,5,2,0,8,28,0,121,0,0,0,1,1,3,3,1,0.46,0.45,0.42,0.34,0.24,0.27,0.75,0.34,0.34,0.25,0.41
3,1,11,2,0,5,33,0,30,23,0,162,0,0,0,0,1,3,1,1,0.34,0.67,0.60,0.56,0.81,0.74,0.54,0.38,0.48,0.35,0.33
4,0,5,0,1,5,33,0,8,46,0,173,0,0,0,0,3,3,3,1,0.63,0.77,0.48,0.77,0.25,0.35,0.18,0.76,0.56,0.47,0.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,0,13,0,3,5,33,0,6,23,0,75,0,0,0,1,3,1,2,1,0.45,0.36,0.35,0.33,0.21,0.68,0.49,0.32,0.52,0.52,0.43
199996,1,8,0,1,4,33,0,19,55,4,180,0,0,0,1,1,3,3,1,0.86,0.55,0.63,0.68,0.62,0.56,0.24,0.70,0.53,0.53,0.92
199997,0,11,3,0,7,33,0,14,47,0,171,0,0,0,1,3,1,3,1,0.46,0.81,0.80,0.32,0.67,0.49,0.85,0.58,0.81,0.54,0.53
199998,0,10,0,2,5,33,0,43,38,0,162,0,0,0,0,1,3,3,1,0.52,0.81,0.82,0.56,0.80,0.56,0.75,0.37,0.44,0.72,0.38
199999,0,10,0,0,4,33,2,15,38,7,69,0,1,0,0,1,1,1,1,0.50,0.34,0.27,0.58,0.22,0.55,0.57,0.38,0.55,0.27,0.45

In [28]:
part2_data = unscaled_test_data.copy()

In [29]:
for i in range(11):
    part2_data['cont{}'.format(i)] = preprocessing.scale(part2_data['cont{}'.format(i)])

In [30]:
part2_data.head()

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,cat15,cat16,cat17,cat18,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10
0,0,5,0,0,5,33,0,8,23,0,249,0,0,0,0,1,3,3,1,0.98,1.14,0.29,1.14,-1.22,-0.60,0.30,0.75,0.61,-0.56,2.15
1,0,7,2,0,4,2,7,31,51,0,269,0,0,0,1,3,1,3,1,0.51,-0.85,1.92,0.19,0.42,1.22,-1.13,0.75,-0.78,0.49,-0.59
2,0,13,2,0,5,2,0,8,28,0,121,0,0,0,1,1,3,3,1,-0.24,-0.22,-0.43,-0.60,-1.16,-0.96,1.23,-0.82,-0.82,-1.12,-0.48
3,1,11,2,0,5,33,0,30,23,0,162,0,0,0,0,1,3,1,1,-0.80,0.81,0.38,0.40,1.33,0.97,0.24,-0.59,-0.04,-0.62,-0.90
4,0,5,0,1,5,33,0,8,46,0,173,0,0,0,0,3,3,3,1,0.61,1.31,-0.17,1.35,-1.11,-0.61,-1.46,1.28,0.41,-0.02,0.38

In [31]:
part2_data = part2_data.drop(['cat3','cat5','cat8','cat10','cont0','cont4','cont7','cont9','cont10'], axis=1)

In [32]:
part2_data.describe()

,cat0,cat1,cat2,cat4,cat6,cat7,cat9,cat11,cat12,cat13,cat14,cat15,cat16,cat17,cat18,cont1,cont2,cont3,cont5,cont6,cont8
count,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00
mean,0.25,8.12,2.63,4.80,1.26,23.53,1.61,0.14,0.14,0.02,0.47,1.53,2.39,2.73,1.22,-0.00,-0.00,0.00,0.00,-0.00,0.00
std,0.44,3.08,4.14,1.51,2.11,13.89,2.75,0.34,0.35,0.16,0.50,0.94,0.93,0.63,0.57,1.00,1.00,1.00,1.00,1.00,1.00
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-1.90,-1.95,-2.37,-2.23,-2.33,-2.65
25%,0.00,6.00,0.00,4.00,0.00,9.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,3.00,1.00,-0.83,-0.89,-0.84,-0.94,-0.78,-0.72
50%,0.00,8.00,0.00,4.00,0.00,23.00,0.00,0.00,0.00,0.00,0.00,1.00,3.00,3.00,1.00,-0.14,-0.21,-0.38,0.22,0.14,-0.43
75%,1.00,10.00,3.00,5.00,2.00,35.00,3.00,0.00,0.00,0.00,1.00,3.00,3.00,3.00,1.00,0.94,0.88,0.79,0.97,0.57,0.69
max,1.00,14.00,18.00,19.00,15.00,50.00,18.00,1.00,1.00,1.00,1.00,3.00,3.00,3.00,3.00,2.43,2.31,2.26,1.44,2.26,3.16

In [33]:
scaled_test_data = part2_data.copy()

In [34]:
# 訓練、検証、テストデータをnpz形式に変換
# convert train, validation and testdata into npz_file
np.savez('Tabular_train', inputs=train_p_inputs, targets=train_p_targets)
np.savez('Tabular_validation', inputs=validation_p_inputs, targets=validation_p_targets)
np.savez('Tabular_test', inputs=scaled_test_data)

In [35]:
import tensorflow as tf

In [36]:
# 作ったnpzデータをロードして代入
# loading npz files
npz = np.load('Tabular_train.npz')
train_inputs = npz['inputs'].astype(np.float)
train_targets = npz['targets'].astype(np.int)

npz = np.load('Tabular_validation.npz')
validation_inputs = npz['inputs'].astype(np.float)
validation_targets = npz['targets'].astype(np.int)

npz = np.load('Tabular_test.npz')
test_inputs = npz['inputs'].astype(np.float)

In [37]:
# モデルの設定を行う
# create model
inputs_size=21
outputs_size=2
hidden_layer_size=50

model = tf.keras.Sequential([
    tf.keras.layers.Dense(hidden_layer_size, activation='relu'),
    tf.keras.layers.Dense(hidden_layer_size, activation='relu'),
    tf.keras.layers.Dense(outputs_size, activation='softmax')
])

model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

batch_size=100
max_epochs=100

early_stopping = tf.keras.callbacks.EarlyStopping(patience=2)

model.fit(train_inputs,
          train_targets,
          batch_size=batch_size,
          epochs=max_epochs,
          callbacks=[early_stopping],
          validation_data = (validation_inputs, validation_targets),
          verbose=2
         )

Epoch 1/100
1272/1272 - 2s - loss: 0.4811 - accuracy: 0.7779 - val_loss: 0.4548 - val_accuracy: 0.7912
Epoch 2/100
1272/1272 - 2s - loss: 0.4545 - accuracy: 0.7892 - val_loss: 0.4559 - val_accuracy: 0.7903
Epoch 3/100
1272/1272 - 2s - loss: 0.4519 - accuracy: 0.7916 - val_loss: 0.4460 - val_accuracy: 0.7950
Epoch 4/100
1272/1272 - 2s - loss: 0.4501 - accuracy: 0.7916 - val_loss: 0.4435 - val_accuracy: 0.7957
Epoch 5/100
1272/1272 - 2s - loss: 0.4483 - accuracy: 0.7923 - val_loss: 0.4448 - val_accuracy: 0.7936
Epoch 6/100
1272/1272 - 2s - loss: 0.4470 - accuracy: 0.7929 - val_loss: 0.4432 - val_accuracy: 0.7974
Epoch 7/100
1272/1272 - 2s - loss: 0.4451 - accuracy: 0.7940 - val_loss: 0.4413 - val_accuracy: 0.7975
Epoch 8/100
1272/1272 - 2s - loss: 0.4439 - accuracy: 0.7943 - val_loss: 0.4395 - val_accuracy: 0.7986
Epoch 9/100
1272/1272 - 2s - loss: 0.4429 - accuracy: 0.7948 - val_loss: 0.4425 - val_accuracy: 0.7955
Epoch 10/100
1272/1272 - 2s - loss: 0.4420 - accuracy: 0.7952 - val_loss: 0.4408 - val_accuracy: 0.7983

In [38]:
model.predict(test_inputs)  #左が0である確率、右が1である確率

array([[0.71749973, 0.2825003 ],
       [0.16732608, 0.83267385],
       [0.742193  , 0.25780702],
       ...,
       [0.12588577, 0.8741143 ],
       [0.6883167 , 0.31168324],
       [0.28148973, 0.71851027]], dtype=float32)

In [39]:
model.predict(test_inputs)[:,1]

array([0.2825003 , 0.83267385, 0.25780702, ..., 0.8741143 , 0.31168324,
       0.71851027], dtype=float32)

In [40]:
model.predict(test_inputs)[:,1].shape

(200000,)

In [41]:
# 確率が0.5以上であれば1、以下であれば0
# output prediction
test_prediction = np.where(model.predict(test_inputs)[:,1] > 0.5, 1, 0)
test_prediction

array([0, 1, 0, ..., 1, 0, 1])

In [42]:
model.evaluate(validation_inputs, validation_targets)

994/994 [==============================] - 1s 1ms/step - loss: 0.4408 - accuracy: 0.7983

[0.4407876133918762, 0.7982696294784546]

In [43]:
# create csvfile for submission
Tabular_submission_data = pd.read_csv(r'C:\Users\shota\Onedrive\ドキュメント\Data\Kaggle\kc_Tabular\test.csv')
Tabular_submission_data = Tabular_submission_data[['id']]
Tabular_submission_data['Probabilities'] = model.predict(test_inputs)[:,1]
Tabular_submission_data['Predictions'] = test_prediction
Tabular_submission_data

            id  Probabilities  Predictions
0            5           0.28            0
1            6           0.83            1
2            8           0.26            0
3            9           0.31            0
4           11           0.40            0
...        ...            ...          ...
199995  499983           0.85            1
199996  499984           0.13            0
199997  499987           0.87            1
199998  499994           0.31            0
199999  499998           0.72            1

[200000 rows x 3 columns]

In [44]:
Tabular_submission_data.to_csv('Tabular_submission.csv')

In [45]:
# create csvfile for submission
Tabular_submission_data = pd.read_csv(r'C:\Users\shota\Onedrive\ドキュメント\Data\Kaggle\kc_Tabular\test.csv')
Tabular_submission_data = Tabular_submission_data[['id']]
Tabular_submission_data['target'] = model.predict(test_inputs)[:,1]
Tabular_submission_data.to_csv('Tabular_submission_data4.csv', index=False)   #index=Falseにしないとインデックスがコラムとして入ってしまう