In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.Series([7000, 5000, 23000, 2500, 12000])
s1

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

In [3]:
s1 * 2

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [4]:
# 2倍にする関数
def double(x):
    return x * 2

In [5]:
# mapの利点は、indexごとに扱えること
s1.map(double)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [6]:
# ラムダ式とは無名関数名のこと(左が引数、右が関数)
s1.map(lambda x: x * 2)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [7]:
# ラムダ式で条件に応じて文字列を表示する関数を適用
s1.map(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

0    1万円未満
1    1万円未満
2    1万円以上
3    1万円未満
4    1万円以上
dtype: object

In [8]:
# 価格でランク付をする関数
def f_rank(x):
    if x>= 20000:
        return 'S'
    elif x>= 10000:
        return 'A'
    elif x>= 5000:
        return 'B'
    else:
        return 'C'

In [9]:
s1.map(f_rank)

0    B
1    B
2    S
3    C
4    A
dtype: object

In [10]:
# 二乗する
s1.map(np.square)

0     49000000
1     25000000
2    529000000
3      6250000
4    144000000
dtype: int64

In [11]:
# 要素ごとの合計を出すので、変わらない(mapの利点)
s1.map(np.sum)

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

In [12]:
# series全体の合計を出したいのであれば
s1.sum()

49500

In [13]:
s2 = pd.Series(['スカートSkirt', 'ニットKnit', 'ジャケットJacket', 'シャツShirt', 'ロングパンツSlacks'])
s2

0       スカートSkirt
1         ニットKnit
2     ジャケットJacket
3        シャツShirt
4    ロングパンツSlacks
dtype: object

In [14]:
# 最初の文字を抽出
s2.map(lambda x: x[0])

0    ス
1    ニ
2    ジ
3    シ
4    ロ
dtype: object

In [15]:
# 正規表現のモジュールreをインポート(正規表現とは数値や文字や記号の羅列の規則性を抽出して表記したもの)
import re
s2.map(lambda x: re.findall('[A-z]+', x))       #シリーズs2にそれぞれの要素からアルファベット部分を取り出すラムダ式を適用,  re.findall()の戻り値がリストなので、リストで格納

0     [Skirt]
1      [Knit]
2    [Jacket]
3     [Shirt]
4    [Slacks]
dtype: object

In [16]:
s3 = pd.Series(['スカートSkirt', 'ニットKnit', 'ジャケットJacket', 'シャツShirt', 'BottomsロングパンツSlacks'])
s3

0              スカートSkirt
1                ニットKnit
2            ジャケットJacket
3               シャツShirt
4    BottomsロングパンツSlacks
dtype: object

In [17]:
s3.map(lambda x: re.findall('[A-z]+', x))

0              [Skirt]
1               [Knit]
2             [Jacket]
3              [Shirt]
4    [Bottoms, Slacks]
dtype: object

In [18]:
# np.nanで欠損値を代入
s4 = pd.Series(['スカートSkirt', 'ニットKnit', 'ジャケットJacket', 'シャツShirt', np.nan])
s4

0      スカートSkirt
1        ニットKnit
2    ジャケットJacket
3       シャツShirt
4            NaN
dtype: object

In [19]:
d = {'ジャケットJacket':'Outer', 'スカートSkirt':'Bottoms', 'ニットKnit':'Tops', 'ワンピースOnepiece':'Onepiece'}
d

{'ジャケットJacket': 'Outer',
 'スカートSkirt': 'Bottoms',
 'ニットKnit': 'Tops',
 'ワンピースOnepiece': 'Onepiece'}

In [20]:
# s4に辞書dを関連付け(マッピング)する
s4.map(d)

0    Bottoms
1       Tops
2      Outer
3        NaN
4        NaN
dtype: object

In [21]:
# s4の要素から文章を作成
s4.map('{}を買います。'.format)

0      スカートSkirtを買います。
1        ニットKnitを買います。
2    ジャケットJacketを買います。
3       シャツShirtを買います。
4            nanを買います。
dtype: object

In [22]:
# s4の欠損値以外の要素から文章を作成
s4.map('{}を買います。'.format, na_action='ignore')

0      スカートSkirtを買います。
1        ニットKnitを買います。
2    ジャケットJacketを買います。
3       シャツShirtを買います。
4                  NaN
dtype: object

In [23]:
s1

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

In [24]:
# applyもmapのように使える
s1.apply(double)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [25]:
s1.apply(lambda x: x*2)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [26]:
s1.apply(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

0    1万円未満
1    1万円未満
2    1万円以上
3    1万円未満
4    1万円以上
dtype: object

In [27]:
s1.apply(f_rank)

0    B
1    B
2    S
3    C
4    A
dtype: object

In [28]:
def f_tax(x, tax):
    return x * tax + x

In [29]:
# argsに適用させたい関数の引数を定義(tupleで)
s1.apply(f_tax, args=(0.1,))

0     7700.0
1     5500.0
2    25300.0
3     2750.0
4    13200.0
dtype: float64

In [30]:
# mapとapplyの違いは、applyでは引数を渡すことが可能な点にある
s1.map(f_tax, args=(0.1,))

TypeError: map() got an unexpected keyword argument 'args'

In [32]:
s1.apply(np.square)

0     49000000
1     25000000
2    529000000
3      6250000
4    144000000
dtype: int64

In [33]:
s1.apply(np.sum)

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

In [34]:
# 文字列Seriesとapplyメソッド

In [35]:
s2

0       スカートSkirt
1         ニットKnit
2     ジャケットJacket
3        シャツShirt
4    ロングパンツSlacks
dtype: object

In [36]:
s2.apply(lambda x: x[0])

0    ス
1    ニ
2    ジ
3    シ
4    ロ
dtype: object

In [37]:
s2.apply(lambda x: re.findall('[A-z]+', x))

0     [Skirt]
1      [Knit]
2    [Jacket]
3     [Shirt]
4    [Slacks]
dtype: object

In [ ]:
# mapではマッピングすることができるが、applyはできない。
s2.apply(d)

In [ ]:
"""
mapとapplyの共通点:  それぞれの要素に同じ処理を適用
mapのメリット:  関連付け(マッピングすることができる)
applyのメリット:  引数を渡すことができる
"""

In [38]:
s4.apply('{}を買います。'.format)

0      スカートSkirtを買います。
1        ニットKnitを買います。
2    ジャケットJacketを買います。
3       シャツShirtを買います。
4            nanを買います。
dtype: object

In [39]:
# applyは欠損値を無視することはできない(na_actionが適用されない)
s4.apply('{}を買います。'.format, na_action='ignore')

0      スカートSkirtを買います。
1        ニットKnitを買います。
2    ジャケットJacketを買います。
3       シャツShirtを買います。
4            nanを買います。
dtype: object

In [ ]:
# DataFrameとapplymap

In [40]:
df = pd.DataFrame(
    [[11000, 6000, 8000],[5000, 12000, 6000], [4000, 5000, 9000]],
    columns=['1日', '2日', '3日'], index=['Aさん', 'Bさん', 'Cさん'])
df

        1日     2日    3日
Aさん  11000   6000  8000
Bさん   5000  12000  6000
Cさん   4000   5000  9000

In [41]:
df * 2

        1日     2日     3日
Aさん  22000  12000  16000
Bさん  10000  24000  12000
Cさん   8000  10000  18000

In [42]:
df.applymap(double)

        1日     2日     3日
Aさん  22000  12000  16000
Bさん  10000  24000  12000
Cさん   8000  10000  18000

In [43]:
df.applymap(lambda x : x*2)

        1日     2日     3日
Aさん  22000  12000  16000
Bさん  10000  24000  12000
Cさん   8000  10000  18000

In [44]:
df.applymap(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

        1日     2日     3日
Aさん  1万円以上  1万円未満  1万円未満
Bさん  1万円未満  1万円以上  1万円未満
Cさん  1万円未満  1万円未満  1万円未満

In [45]:
df.applymap(f_rank)

    1日 2日 3日
Aさん  A  B  B
Bさん  B  A  B
Cさん  C  B  B

In [46]:
# applymapもmapと同様に引数を渡すことができない
df.applymap(f_tax, args=(0.1,))

TypeError: applymap() got an unexpected keyword argument 'args'

In [47]:
# maskメソッドで、条件に合う要素を指定の値に置き換える
df.mask(df < 10000, '1万円未満')

        1日     2日     3日
Aさん  11000  1万円未満  1万円未満
Bさん  1万円未満  12000  1万円未満
Cさん  1万円未満  1万円未満  1万円未満

In [48]:
df < 10000

        1日     2日    3日
Aさん  False   True  True
Bさん   True  False  True
Cさん   True   True  True

In [49]:
# whereで条件に合わない要素を指定の値に置き換える
df.where(df < 10000, '1万円以上')

        1日     2日    3日
Aさん  1万円以上   6000  8000
Bさん   5000  1万円以上  6000
Cさん   4000   5000  9000

In [50]:
df.applymap(np.square)

            1日         2日        3日
Aさん  121000000   36000000  64000000
Bさん   25000000  144000000  36000000
Cさん   16000000   25000000  81000000

In [53]:
# applymapメソッドは、それぞれの要素に関数を適用するので、変わらない
df.applymap(np.sum)

        1日     2日    3日
Aさん  11000   6000  8000
Bさん   5000  12000  6000
Cさん   4000   5000  9000

In [54]:
df.sum()

1日    20000
2日    23000
3日    23000
dtype: int64

In [55]:
df2 = pd.DataFrame([['スカートSkirt', 'ニットKnit', 'ジャケットJacket'],
                    ['シャツShirt', 'ロングパンツSlacks', 'ワンピースOnepiece']],
                   columns=['x', 'y', 'z'])
df2

           x             y              z
0  スカートSkirt       ニットKnit    ジャケットJacket
1   シャツShirt  ロングパンツSlacks  ワンピースOnepiece

In [56]:
df2.applymap(lambda x: x[0])

   x  y  z
0  ス  ニ  ジ
1  シ  ロ  ワ

In [57]:
df2.applymap(lambda x: re.findall('[A-z]+', x))

         x         y           z
0  [Skirt]    [Knit]    [Jacket]
1  [Shirt]  [Slacks]  [Onepiece]

In [59]:
# DataFrameとapplyメソッド

In [60]:
# DataFrameでもapplyを使うことはできる
df.apply(double)

        1日     2日     3日
Aさん  22000  12000  16000
Bさん  10000  24000  12000
Cさん   8000  10000  18000

In [61]:
df.apply(lambda x: x*2)

        1日     2日     3日
Aさん  22000  12000  16000
Bさん  10000  24000  12000
Cさん   8000  10000  18000

In [ ]:
# エラーになる(DataFrameでapplyを使うとき、if文は用いることができない)
df.apply(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

In [62]:
df.apply(lambda x: x >= 10000)

        1日     2日     3日
Aさん   True  False  False
Bさん  False   True  False
Cさん  False  False  False

In [63]:
# applyにif文を用いたいときは、Seriesとして適用する
df['1日'].apply(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

Aさん    1万円以上
Bさん    1万円未満
Cさん    1万円未満
Name: 1日, dtype: object

In [64]:
df.apply(f_tax, args=(0.1,))

          1日       2日      3日
Aさん  12100.0   6600.0  8800.0
Bさん   5500.0  13200.0  6600.0
Cさん   4400.0   5500.0  9900.0

In [65]:
df.apply(np.square)

            1日         2日        3日
Aさん  121000000   36000000  64000000
Bさん   25000000  144000000  36000000
Cさん   16000000   25000000  81000000

In [66]:
#集計関数の場合は、列ごと行ごとに関数が適用される(defaultでは列方向)
df.apply(np.sum)

1日    20000
2日    23000
3日    23000
dtype: int64

In [67]:
# 行方向
df.apply(np.sum, axis=1)

Aさん    25000
Bさん    23000
Cさん    18000
dtype: int64

In [68]:
df

        1日     2日    3日
Aさん  11000   6000  8000
Bさん   5000  12000  6000
Cさん   4000   5000  9000

In [70]:
df.apply(lambda x: max(x) - min(x))

1日    7000
2日    7000
3日    3000
dtype: int64

In [71]:
df2

           x             y              z
0  スカートSkirt       ニットKnit    ジャケットJacket
1   シャツShirt  ロングパンツSlacks  ワンピースOnepiece

In [72]:
# axisが指定されていないので、デフォルトで列ごとに関数が適用され、列の始めが取り出される
df2.apply(lambda x: x[0])

x      スカートSkirt
y        ニットKnit
z    ジャケットJacket
dtype: object

In [73]:
# エラーになる
df2.apply(lambda x: re.findall('[A-z]+',x))

TypeError: expected string or bytes-like object

In [ ]:
"""
まとめ
Series: map, applyが利用できる([point]文字列ではmap, 数字ではapply)
DataFrame: applymap, applyが利用できる(applymapは行列関係なくそれぞれの要素に適用させる, applyはそれぞれの要素か行列で適用できる。(関数による))
"""